footer.pmd-footer {
  border: 2px solid #1976d2;; /* Sınır kalınlığı ve rengi */
  padding: 10px; /* İçerik ile sınır arasındaki boşluk */
  margin-top: 0px; /* Sayfanın içeriği ile sınır arasındaki boşluk */
  background-color: #1976d2;;
  color:black;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}
